<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<script src="/admin/js/imagePreview.js"></script>
<script src="/admin/js/imageInput.js"></script>
<script src="/admin/js/chosen.js"></script>
<script src="/admin/js/ckeditor.js"></script>




<link rel="stylesheet" href="/admin/css/add-product.css">
<link rel="stylesheet" href="/admin/css/component-chosen.min.css">

<div class="content-main">

    <div class=" m-4  p-2 main-content">

        <div class="d-flex justify-content-center p-2 title">ویرایش ماژول</div>
        <form class="container" action="/admin/modules/edit/<%= modules._id %>" method="POST">

            <div class="p-2 inf">
                <div class="d-flex justify-content-around align-items-center my-auto p-2 field">
                    <div class="col-4 field-col">
                        <label for="title" class="d-block">نام ماژول :</label>
                        <input class="w-75 inputs" name="title" type="text" placeholder="نام ماژول را وارد کنید"
                            value="<%- modules.title %>">
                    </div>
                    <div class="col-4 field-col">
                        <label for="blogId">انتخاب دوره موردنظر:</label>
                        <select name="blogId" required>
                            <% blogs.forEach(blog=> { %>
                                <option value="<%- blog.id %>" <%- String(modules.blogId)===String(blog.id) ? 'selected'
                                    : '' %>>
                                    <%= blog.title %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <div class="p-2">
                    <label for="editor1" class="control-label font-weight-bold p-2">متن ماژول :</label>
                    <textarea name="editor1"><%- modules.editor1 %></textarea>
                </div>

                <div class="d-flex justify-content-start p-2">
                    <button class="btn submit-btn" type="submit">ویرایش</button>
                </div>
            </div>
        </form>

    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<script src="/admin/js/imagePreview.js"></script>
<script src="/admin/js/imageInput.js"></script>
<script src="/admin/js/chosen.js"></script>
<script src="/admin/js/ckeditor.js"></script>