<link rel="stylesheet" href="/admin/css/content.css">

<div class="content-main">
    <div class=" m-4  p-3 main-content table-responsive">
        <div class="d-flex align-items-center justify-content-start my-auto content-header">
            <div>
                <h6>همه دوره ها</h6>
                <p>در اینجا می توانید نوشته های خود را مدیریت کنید.</p>
            </div>
            <div class="container-btn-add">
                <a href="/admin/articles/create" class="btn-add my-auto" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-custom-class="custom-tooltip" data-bs-title="افزودن دوره جدید"><i
                        class="fas fa-plus m-auto"></i>افزودن دوره</a>
            </div>
        </div>
        <table class="custom-table container">
            <thead>
                <tr>
                    <th>تصویر دوره</th>
                    <th>موضوع</th>
                    <th>کلیک ها</th>
                    <th>تنظیمات</th>
                </tr>
            </thead>
            <tbody>
                <% aticles.docs.forEach(article =>{ %> 
                <tr>
                    <td><img src="<%- article.image %>" alt="<%- article.title %>" class="img-fluid img-custom"></td>
                    <td><a href="#"><%- article.title %></a></td>
                    <td><%- article.viewCount %></td>
                    <td class="d-flex justify-content-center">
                        <a href="/admin/articles/<%- article._id %>/edit" style="margin-left: 5px;">
                            <button class="btn pencil" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip" data-bs-title="ویرایش"><i
                            class="fas fa-pencil-alt"></i></button>
                        </a>
                        <form action="/admin/articles/<%- article._id %>" method="POST">
                    <button type="submit" class="btn trash" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip" data-bs-title="حذف "><i
                            class="far fa-trash-alt"></i></button>
                    </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="d-flex p-3 justify-content-center">
            <nav>
                <% if(aticles.pages >0){ %> 
                <ul class="d-flex paginate">
                    <% if (aticles.page == 1) { %>
                    <a class="p-link " >
                        <li class="pag">قبلی</li>
                    </a>
                    <% } else { %>
                        <a class="p-link " href="/admin/articles/?page=<%= 1 %>">
                            <li class="pag">قبلی</li>
                        </a>
                        <% } %>
                        <% var i = ((aticles.page) > 5 ? (aticles.page) - 4 : 1) %>
                        <% if (i !== 1) { %>
                    <a class="p-link">
                        <li class="pag">...</li>
                    </a>
                    <% } %>
                    <% for (; i <= ((aticles.page) + 4) && i <= aticles.pages; i++) { %>
                        <% if (i == aticles.page) { %>
                    <a class="p-link" href="/admin/articles/?page=<%= i %>">
                        <li class="pag"><%= i %></li>
                    </a>
                    <% } else { %>
                    <a class="p-link" href="/admin/articles/?page=<%= i %>">
                        <li class="pag"><%= i %></li>
                    </a>
                    <% } %>
                    <% if (i == (aticles.page) + 4 && i < aticles.pages) { %>
                        <a class="p-link">
                            <li class="pag">...</li>
                        </a>
                    <% } %>
                    <% } %>
                    <% if (aticles.page == aticles.pages) { %>
                    <a class="p-link">
                        <li class="pag">بعدی</li>
                    </a>
                    <% } else { %>
                        <a class="p-link" href="/admin/articles/?page=<%= aticles.pages %>">
                            <li class="pag">بعدی</li>
                        </a>
                        <% } %>
                </ul>
                <% } %>
            </nav>
        </div>
    </div>

    <div class=" m-4  p-3 main-content table-responsive">
        <div class="d-flex align-items-center justify-content-start my-auto content-header">
            <div>
                <h6>همه ماژول ها</h6>
                <p>در اینجا می توانید ماژول های های مربوط به هر دوره را مدیریت کنید.</p>
            </div>
            <div class="container-btn-add">
                <a href="/admin/modules/create" class="btn-add my-auto" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-custom-class="custom-tooltip" data-bs-title="افزودن دوره جدید"><i
                        class="fas fa-plus m-auto"></i>افزودن ماژول</a>
            </div>
        </div>
        <table class="custom-table container">
            <thead>
                <tr>
                    <th>موضوع</th>
                    <th>کلیک ها</th>
                    <th>تنظیمات</th>
                </tr>
            </thead>
            <tbody>
                <% modules.docs.forEach(module =>{ %> 
                <tr>
                    <td><a href="#"><%- module.title %></a></td> 
                    <td><%- module.viewCount %></td>
                    <td class="d-flex justify-content-center">
                        <a href="/admin/modules/<%- module._id %>/edit" style="margin-left: 5px;">
                            <button class="btn pencil" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip" data-bs-title="ویرایش"><i
                            class="fas fa-pencil-alt"></i></button>
                        </a>
                        <form action="/admin/modules/<%- module._id %>" method="POST">
                    <button type="submit" class="btn trash" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip" data-bs-title="حذف "><i
                            class="far fa-trash-alt"></i></button>
                    </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="d-flex p-3 justify-content-center">
            <nav>
                <% if(modules.pages >0){ %> 
                <ul class="d-flex paginate">
                    <% if (modules.page == 1) { %>
                    <a class="p-link " >
                        <li class="pag">قبلی</li>
                    </a>
                    <% } else { %>
                        <a class="p-link " href="/admin/articles/?page=<%= 1 %>">
                            <li class="pag">قبلی</li>
                        </a>
                        <% } %>
                        <% var i = ((modules.page) > 5 ? (modules.page) - 4 : 1) %>
                        <% if (i !== 1) { %>
                    <a class="p-link">
                        <li class="pag">...</li>
                    </a>
                    <% } %>
                    <% for (; i <= ((modules.page) + 4) && i <= modules.pages; i++) { %>
                        <% if (i == modules.page) { %>
                    <a class="p-link" href="/admin/articles/?page=<%= i %>">
                        <li class="pag"><%= i %></li>
                    </a>
                    <% } else { %>
                    <a class="p-link" href="/admin/articles/?page=<%= i %>">
                        <li class="pag"><%= i %></li>
                    </a>
                    <% } %>
                    <% if (i == (modules.page) + 4 && i < modules.pages) { %>
                        <a class="p-link">
                            <li class="pag">...</li>
                        </a>
                    <% } %>
                    <% } %>
                    <% if (modules.page == modules.pages) { %>
                    <a class="p-link">
                        <li class="pag">بعدی</li>
                    </a>
                    <% } else { %>
                        <a class="p-link" href="/admin/articles/?page=<%= modules.pages %>">
                            <li class="pag">بعدی</li>
                        </a>
                        <% } %>
                </ul>
                <% } %>
            </nav>
        </div>
    </div>
</div>