<link rel="stylesheet" href="/admin/css/content.css">

<div class="content-main">

    <div class="m-4 p-3 main-content table-responsive">
        <div class="d-flex align-items-center justify-content-start my-auto content-header">
            <div>
                <h6>مدیریت ویدیوهای دوره ها</h6>
                <p>در اینجا می‌توانید ویدیوهای آپلود شده را مشاهده و مدیریت کنید.</p>
            </div>
            <div class="container-btn-add">
                <a href="/admin/uploadVideo-categorys" class="btn-add my-auto" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="افزودن ویدیو جدید">
                    <i class="fas fa-plus m-auto"></i>افزودن ویدیو
                </a>
            </div>
        </div>

        <table class="custom-table container">
            <thead>
                <tr>
                    <th>عنوان ویدیو</th>
                    <th>تنظیمات</th>
                </tr>
            </thead>
            <tbody>
                <% videoForCategorys.docs.forEach(video=> { %>
                    <tr>
                        <td>
                            <%= video.articleId ? video.articleId.name : 'بدون مقاله' %>
                        </td>
                        <td class="d-flex justify-content-center">
                            <form action="/admin/videos-categorys/<%- video._id %>/delete" method="POST">
                                <button type="submit" class="btn trash" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                                    data-bs-title="حذف "><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="d-flex p-3 justify-content-center">
            <nav>
                <% if(videoForCategorys.pages> 0) { %>
                    <ul class="d-flex paginate">
                        <% if (videoForCategorys.page==1) { %>
                            <a class="p-link">
                                <li class="pag">قبلی</li>
                            </a>
                            <% } else { %>
                                <a class="p-link" href="/admin/videos/?page=<%= videos.page - 1 %>">
                                    <li class="pag">قبلی</li>
                                </a>
                                <% } %>

                                    <% var i=((videoForCategorys.page)> 5 ? (videoForCategorys.page) - 4 : 1) %>
                                        <% if (i !==1) { %>
                                            <a class="p-link">
                                                <li class="pag">...</li>
                                            </a>
                                            <% } %>

                                                <% for (; i <=((videoForCategorys.page) + 4) && i
                                                    <=videoForCategorys.pages; i++) { %>
                                                    <% if (i==videoForCategorys.page) { %>
                                                        <a class="p-link active">
                                                            <li class="pag">
                                                                <%= i %>
                                                            </li>
                                                        </a>
                                                        <% } else { %>
                                                            <a class="p-link" href="/admin/videos/?page=<%= i %>">
                                                                <li class="pag">
                                                                    <%= i %>
                                                                </li>
                                                            </a>
                                                            <% } %>
                                                                <% } %>

                                                                    <% if
                                                                        (videoForCategorys.page==videoForCategorys.pages)
                                                                        { %>
                                                                        <a class="p-link">
                                                                            <li class="pag">بعدی</li>
                                                                        </a>
                                                                        <% } else { %>
                                                                            <a class="p-link"
                                                                                href="/admin/videos/?page=<%= videos.page + 1 %>">
                                                                                <li class="pag">بعدی</li>
                                                                            </a>
                                                                            <% } %>
                    </ul>
                    <% } %>
            </nav>
        </div>
    </div>

    <div class="m-4 p-3 main-content table-responsive">
        <div class="d-flex align-items-center justify-content-start my-auto content-header">
            <div>
                <h6>مدیریت ویدیوهای بخش ها</h6>
                <p>در اینجا می‌توانید ویدیوهای آپلود شده را مشاهده و مدیریت کنید.</p>
            </div>
            <div class="container-btn-add">
                <a href="/admin/uploadVideo" class="btn-add my-auto" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-custom-class="custom-tooltip" data-bs-title="افزودن ویدیو جدید">
                    <i class="fas fa-plus m-auto"></i>افزودن ویدیو
                </a>
            </div>
        </div>

        <table class="custom-table container">
            <thead>
                <tr>
                    <th>عنوان ویدیو</th>
                    <th>تنظیمات</th>
                </tr>
            </thead>
            <tbody>
                <% videos.docs.forEach(video=> { %>
                    <tr>
                        <td>
                            <%= video.articleId ? video.articleId.title : 'بدون مقاله' %>
                        </td>
                        <td class="d-flex justify-content-center">
                            <form action="/admin/videos/<%- video._id %>/delete" method="POST">
                                <button type="submit" class="btn trash" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                                    data-bs-title="حذف "><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="d-flex p-3 justify-content-center">
            <nav>
                <% if(videos.pages> 0) { %>
                    <ul class="d-flex paginate">
                        <% if (videos.page==1) { %>
                            <a class="p-link">
                                <li class="pag">قبلی</li>
                            </a>
                            <% } else { %>
                                <a class="p-link" href="/admin/videos/?page=<%= videos.page - 1 %>">
                                    <li class="pag">قبلی</li>
                                </a>
                                <% } %>

                                    <% var i=((videos.page)> 5 ? (videos.page) - 4 : 1) %>
                                        <% if (i !==1) { %>
                                            <a class="p-link">
                                                <li class="pag">...</li>
                                            </a>
                                            <% } %>

                                                <% for (; i <=((videos.page) + 4) && i <=videos.pages; i++) { %>
                                                    <% if (i==videos.page) { %>
                                                        <a class="p-link active">
                                                            <li class="pag">
                                                                <%= i %>
                                                            </li>
                                                        </a>
                                                        <% } else { %>
                                                            <a class="p-link" href="/admin/videos/?page=<%= i %>">
                                                                <li class="pag">
                                                                    <%= i %>
                                                                </li>
                                                            </a>
                                                            <% } %>
                                                                <% } %>

                                                                    <% if (videos.page==videos.pages) { %>
                                                                        <a class="p-link">
                                                                            <li class="pag">بعدی</li>
                                                                        </a>
                                                                        <% } else { %>
                                                                            <a class="p-link"
                                                                                href="/admin/videos/?page=<%= videos.page + 1 %>">
                                                                                <li class="pag">بعدی</li>
                                                                            </a>
                                                                            <% } %>
                    </ul>
                    <% } %>
            </nav>
        </div>
    </div>

    <div class="m-4 p-3 main-content table-responsive">
        <div class="d-flex align-items-center justify-content-start my-auto content-header">
            <div>
                <h6>مدیریت ویدیوهای ماژول ها</h6>
                <p>در اینجا می‌توانید ویدیوهای آپلود شده را مشاهده و مدیریت کنید.</p>
            </div>
            <div class="container-btn-add">
                <a href="/admin/uploadVideo-Modules" class="btn-add my-auto" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="افزودن ویدیو جدید">
                    <i class="fas fa-plus m-auto"></i>افزودن ویدیو
                </a>
            </div>
        </div>

        <table class="custom-table container">
            <thead>
                <tr>
                    <th>عنوان ویدیو</th>
                    <th>تنظیمات</th>
                </tr>
            </thead>
            <tbody>
                <% videoForModules.docs.forEach(video=> { %>
                    <tr>
                        <td>
                            <%= video.articleId ? video.articleId.title : 'بدون مقاله' %>
                        </td>
                        <td class="d-flex justify-content-center">
                            <form action="/admin/videos-Modules/<%- video._id %>/delete" method="POST">
                                <button type="submit" class="btn trash" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                                    data-bs-title="حذف "><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="d-flex p-3 justify-content-center">
            <nav>
                <% if(videoForModules.pages> 0) { %>
                    <ul class="d-flex paginate">
                        <% if (videoForModules.page==1) { %>
                            <a class="p-link">
                                <li class="pag">قبلی</li>
                            </a>
                            <% } else { %>
                                <a class="p-link" href="/admin/videos/?page=<%= videos.page - 1 %>">
                                    <li class="pag">قبلی</li>
                                </a>
                                <% } %>

                                    <% var i=((videoForModules.page)> 5 ? (videoForModules.page) - 4 : 1) %>
                                        <% if (i !==1) { %>
                                            <a class="p-link">
                                                <li class="pag">...</li>
                                            </a>
                                            <% } %>

                                                <% for (; i <=((videoForModules.page) + 4) && i <=videoForModules.pages;
                                                    i++) { %>
                                                    <% if (i==videoForModules.page) { %>
                                                        <a class="p-link active">
                                                            <li class="pag">
                                                                <%= i %>
                                                            </li>
                                                        </a>
                                                        <% } else { %>
                                                            <a class="p-link" href="/admin/videos/?page=<%= i %>">
                                                                <li class="pag">
                                                                    <%= i %>
                                                                </li>
                                                            </a>
                                                            <% } %>
                                                                <% } %>

                                                                    <% if (videoForModules.page==videoForModules.pages)
                                                                        { %>
                                                                        <a class="p-link">
                                                                            <li class="pag">بعدی</li>
                                                                        </a>
                                                                        <% } else { %>
                                                                            <a class="p-link"
                                                                                href="/admin/videos/?page=<%= videos.page + 1 %>">
                                                                                <li class="pag">بعدی</li>
                                                                            </a>
                                                                            <% } %>
                    </ul>
                    <% } %>
            </nav>
        </div>
    </div>

    <div class="m-4 p-3 main-content table-responsive">
        <div class="d-flex align-items-center justify-content-start my-auto content-header">
            <div>
                <h6>مدیریت ویدیوهای دوره ها</h6>
                <p>در اینجا می‌توانید ویدیوهای آپلود شده را مشاهده و مدیریت کنید.</p>
            </div>
            <div class="container-btn-add">
                <a href="/admin/uploadVideo-categorys" class="btn-add my-auto" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="افزودن ویدیو جدید">
                    <i class="fas fa-plus m-auto"></i>افزودن ویدیو
                </a>
            </div>
        </div>

        <table class="custom-table container">
            <thead>
                <tr>
                    <th>عنوان ویدیو</th>
                    <th>تنظیمات</th>
                </tr>
            </thead>
            <tbody>
                <% videoForCategorys.docs.forEach(video=> { %>
                    <tr>
                        <td>
                            <%= video.articleId ? video.articleId.name : 'بدون مقاله' %>
                        </td>
                        <td class="d-flex justify-content-center">
                            <form action="/admin/videos-categorys/<%- video._id %>/delete" method="POST">
                                <button type="submit" class="btn trash" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                                    data-bs-title="حذف "><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="d-flex p-3 justify-content-center">
            <nav>
                <% if(videoForCategorys.pages> 0) { %>
                    <ul class="d-flex paginate">
                        <% if (videoForCategorys.page==1) { %>
                            <a class="p-link">
                                <li class="pag">قبلی</li>
                            </a>
                            <% } else { %>
                                <a class="p-link" href="/admin/videos/?page=<%= videos.page - 1 %>">
                                    <li class="pag">قبلی</li>
                                </a>
                                <% } %>

                                    <% var i=((videoForCategorys.page)> 5 ? (videoForCategorys.page) - 4 : 1) %>
                                        <% if (i !==1) { %>
                                            <a class="p-link">
                                                <li class="pag">...</li>
                                            </a>
                                            <% } %>

                                                <% for (; i <=((videoForCategorys.page) + 4) && i
                                                    <=videoForCategorys.pages; i++) { %>
                                                    <% if (i==videoForCategorys.page) { %>
                                                        <a class="p-link active">
                                                            <li class="pag">
                                                                <%= i %>
                                                            </li>
                                                        </a>
                                                        <% } else { %>
                                                            <a class="p-link" href="/admin/videos/?page=<%= i %>">
                                                                <li class="pag">
                                                                    <%= i %>
                                                                </li>
                                                            </a>
                                                            <% } %>
                                                                <% } %>

                                                                    <% if
                                                                        (videoForCategorys.page==videoForCategorys.pages)
                                                                        { %>
                                                                        <a class="p-link">
                                                                            <li class="pag">بعدی</li>
                                                                        </a>
                                                                        <% } else { %>
                                                                            <a class="p-link"
                                                                                href="/admin/videos/?page=<%= videos.page + 1 %>">
                                                                                <li class="pag">بعدی</li>
                                                                            </a>
                                                                            <% } %>
                    </ul>
                    <% } %>
            </nav>
        </div>
    </div>

</div>