<link rel="stylesheet" href="/css/new-style.css">
<link rel="stylesheet" href="/css/edit-profile.css">

<div class="container main-section d-flex flex-row-reverse main">

    <div class="section1">
        <a href="/profile/edit-profile/<%- users.id %>"><img src="/images/setting2.svg" alt="setting"></a>
        <h1 style="font-size: 26px;">تنظیمات پروفایل</h1>
        <a href="/auth/logout"><img src="/images/in.svg" alt="Loguot"></a>
    </div>
    
    <div class="edit-profile">
        <div class="form-section">
            <% if(users.image){ %>
                <div class="edit-profile-img profile-section">
                    <img class="img-fluid" src="<%- users.image %>" alt="<%- users.name %>">
                    <span>تصویر پروفایل</span>
                </div>
                <% }else{ %>
                    <div class="edit-profile-img profile-section">
                        <img class="img-fluid" src="/images/No_Image_Available.jpg" alt="UserImage">
                        <span>تصویر پروفایل</span>
                    </div>
                    <% } %>
                        <form action="/profile/edit-profile" method="post" class="form-user"
                            enctype="multipart/form-data" novalidate>
                            <label>نام کاربری :</label>
                            <input type="text" name="name" placeholder="نام خود را وارد کنید" value="<%- users.name %>">
                            <label>ایمیل :</label>
                            <input type="email" name="email" placeholder="ایمیل را وارد کنید"
                                value="<%- users.email %>">
                            <label>شماره تلفن :</label>
                            <input type="text" name="mobileNumber" placeholder="شماره موبایل را وارد کنید"
                                value="<%- users.mobileNumber %>">
                            <label>عکس پروفایل :</label>
                            <input type="file" name="image" id="imageInput">
                            <button class="buttonformsabt" type="submit">ذخیره</button>
                        </form>
        </div>
    </div>
</div>

<script src="/js/toggleMenu.js"></script>