<link rel="stylesheet" href="/css/new-style.css">

<div class="main-section main">
    <div class="section1">
        <a href="/profile/edit-profile/<%- users.id %>"><img src="/images/setting2.svg" alt="setting"></a>
        <h1 style="font-size: 22px; text-align: center;">شماره تیکت : <%- ticket.code %> </h1>
        <a href="/auth/logout"><img src="/images/in.svg" alt="Loguot"></a>
    </div>

    <div class="ticket-box">
        <div class="ticket-title">
            <span class="ml-1">موضوع :</span>
            <span><%- ticket.title %></span>
        </div>
        <div class="clint-chat">
            <div>
                <%- ticket.text %>
            </div>
        </div>
        <% parent.forEach(par=>{ %>
            <% if(par.title==='Admin' ){ %>
                <div  class="admin-chat">
                    <div>
                        <span><%- par.title %> : </span>
                        <%- par.text %>
                    </div>
                </div>
                <% } %>
                    <% if(par.title==='Client' ){ %>
                        <div class="clint-chat">
                            <div>
                                <%- par.text %>
                            </div>
                        </div>
                        <% } %>
                            <% }) %>
                                <% if(ticket.check){ %>
                                    <form action="/replay-send" method="post" class="send-box">
                                        <input type="hidden" name="parent" value="<%- ticket.code %>">
                                        <input type="hidden" name="codeNumber" value="<%- ticket.code %>">
                                        <button class="sub-btn" type="submit">
                                            <img src="/images/telegramwhite.webp" alt="">
                                        </button>
                                        <input class="text-box" type="text" placeholder="پاسخ خود را بنویسید ..."
                                            name="text">
                                    </form>
                                    <% } %>
    </div>
</div>

<script src="/js/toggleMenu.js"></script>