<link rel="stylesheet" href="/admin/css/add-product.css">
<link rel="stylesheet" href="/admin/css/component-chosen.min.css">

<div class="content-main">

    <div class=" m-4  p-2 main-content">

        <div class="d-flex justify-content-center p-2 title">ویرایش سوالات</div>


        <form class="container" action="/admin/question/edit/<%= questions._id %>" method="POST">
            <!-- انتخاب مقاله -->
            <label for="blogId">انتخاب دوره مورد نظر:</label>
            <select class="form-control form-control-chosen p-1" name="blogId" required>
                <% blogs.forEach(blog=> { %>
                    <option value="<%- blog.id %>" <%=questions.blogId && questions.blogId.toString()===blog.id.toString()
                        ? 'selected' : '' %> >
                        <%- blog.title %>
                    </option>
                    <% }) %>
            </select>

            <!-- سوال -->
            <label class="d-block" for="questionText">متن سوال:</label>
            <input class="inputs w-75" type="text" name="questionText" value="<%- questions.questionText %>" required>

            <!-- گزینه‌ها -->
            <label class="d-block">گزینه‌ها:</label>
            <% if (questions.options && questions.options.length > 0) { %>
                <% questions.options.forEach((option, index) => { %>
                    <input class="inputs w-75" type="text" name="options[]" value="<%- option %>" required>
                <% }) %>
            <% } else { %>
                <!-- اگر سوال جدید باشد و هنوز گزینه‌ای نداشته باشد -->
                <input class="inputs w-75" type="text" name="options[]" required>
                <input class="inputs w-75" type="text" name="options[]" required>
                <input class="inputs w-75" type="text" name="options[]" required>
                <input class="inputs w-75" type="text" name="options[]" required>
            <% } %>

                        <!-- توضیح گزینه ها -->
                        <label class="d-block">گزینه‌ها:</label>
                        <% if (questions.optionsText && questions.optionsText.length > 0) { %>
                            <% questions.optionsText.forEach((option, index) => { %>
                                <input class="inputs w-75" type="text" name="optionsText[]" value="<%- option %>" required>
                            <% }) %>
                        <% } else { %>
                            <!-- اگر سوال جدید باشد و هنوز گزینه‌ای نداشته باشد -->
                            <input class="inputs w-75" type="text" name="optionsText[]" required>
                            <input class="inputs w-75" type="text" name="optionsText[]" required>
                            <input class="inputs w-75" type="text" name="optionsText[]" required>
                            <input class="inputs w-75" type="text" name="optionsText[]" required>
                        <% } %>

            <!-- انتخاب گزینه صحیح -->
            <label class="d-block" for="correctAnswer">گزینه صحیح (عدد بین 0 تا 3):</label>
            <input class="inputs w-75" type="number" name="correctAnswer" min="0" max="3" value="<%- questions.correctAnswer %>" required>

            <button class="btn submit-btn" type="submit">ویرایش سوال</button>
        </form>

    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<script src="/admin/js/imagePreview.js"></script>
<script src="/admin/js/imageInput.js"></script>
<script src="/admin/js/chosen.js"></script>
<script src="/admin/js/ckeditor.js"></script>