<link rel="stylesheet" href="/css/cources.css">

<section class="main flex-column">
    <div class="header flex-column">
        <h1 class="intro-fade">FINANCIAL</h1>
        <p class="matn">سرفصل دوره متوسط مالی </p>
    </div>

    <div class="container">
        <% articles.forEach((article,index)=>{ %>
            <a href="/article/<%= article.slug %>" class="flip-box">
                <div class="flip-inner">
                    <div class="flip-front">
                        <img src="<%= article.image %>" alt="<%= article.title %>">
                        <span class="num">بخش <%= index + 1 %></span>
                        <div>
                            <p>
                                <%= article.title %>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <% }) %>

    </div>
    
</section>

<!-- <script src="/js/flip-box.js"></script> -->