
<link rel="stylesheet" href="/css/new-style.css">


<section class="main">
    <div class="section1">
        <a href="/profile/edit-profile/<%- users.id %>"><img src="/images/setting2.svg" alt="setting"></a>
        <h1>انتخاب اشتراک</h1>
        <a href="/auth/logout"><img src="/images/in.svg" alt="Loguot"></a>
    </div>
    <form action="/user/subscribe" method="POST" class="pay-form">
        <div>
            <% subscribes.forEach(subscription => { %>
                <label class="profile-btn" style="width: 100% !important;">
                    <input type="radio" name="subscription" value="<%= subscription._id %>" required>
                    <%= subscription.name %> - <%= subscription.duration %> ماهه - قیمت: <%= subscription.price %> تومان
                </label>
                <br>
            <% }); %>
        </div>

        <button class="pay-btn" type="submit">پرداخت</button>
    </form>
</section>
