

<link rel="stylesheet" href="/admin/css/add-product.css">

<div class="content-main">
    <div class=" m-4  p-2 main-content">
        <div class="d-flex justify-content-center p-2 title">ویرایش دسته بندی</div>
        <form class="container" action="/admin/categorys/editSite/<%- category.id %>" method="POST"  novalidate>
            <div class="p-2 inf">
                <div class="d-flex justify-content-around align-items-center my-auto p-2 field">
                    <div class="col-6 field-col">
                        <label for="name" class="d-block">عنوان دسته بندی :</label>
                        <input class="w-75 inputs" name="name" type="text"
                            placeholder="نام دسته بندی را وارد کنید" value="<%- category.name %>">
                    </div>
                    <div class="col-6 field-col">
                        <label for="parent" class="d-block">جایگاه دسته بندی :</label>
                        <select name="parent" id="category" class="w-75">
                            <option value="none" selected>دسته اصلی</option>
                            <% categorys.forEach(cate => { %>
                                <option value="<%- cate.id %>" <%= String(cate.id) === String(category.parent) ? 'selected' : '' %>><%- cate.name %></option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-start p-2">
                    <button class="btn submit-btn" type="submit">ذخیره</button>
                </div>
            </div>
        </form>
    </div>
</div>